.card {
  border-radius: 10px;
  height: 90px;
}

canvas {
  width: 100% !important;
  height: 430px !important;
}

.cardData:hover {
  transform: scale(1.1); /* Scale card to 110% size on hover */
}

.table-sticky {
  position: sticky;
  top: 0;
  background-color: #144c83 !important; /* Bootstrap light gray */
  z-index: 10;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
}
.colorset {
  color:  rgb(13, 158, 117);
}

